<div class="login-container container-sm">
    <div class="d-flex align-items-center" style="height: 100%;">
        <div class="form-container mx-auto h-auto px-5">
            <h1 class="col-auto mx-auto">Sign In</h1>
            <form class="login-form mx-auto">
                <div class="input-group mb-5">
                    <span class="input-group-text fs-4"><i class="bi bi-phone-vibrate"></i></span>
                    <input placeholder="Username/Phone Number" class="form-control" type="text">
                </div>
                <div class="input-group">
                    <span class="input-group-text fs-4"><i class="bi bi-shield-lock"></i></span>
                    <input placeholder="Password" class="form-control" type="password">
                </div>
                <button type="submit" class="btn btn-secondary mt-4 mx-auto d-block" style="width: min-content;">login</button>
            </form>
            <span class="mx-auto d-block mt-4" style="width: max-content;"><a routerLink="/auth/register" style="text-decoration: none;">dont have an account?</a></span>
        </div>
    </div>
</div>