<div class="deposit-container container-sm">
    <div class="d-flex align-items-center" style="height: 100%;">
        <div class="form-container mx-auto h-auto px-5">
            <h1 class="col-auto mx-auto">Add to Wallet</h1>
            <form class="deposit-form mx-auto">
                <div class="input-group mb-5">
                    <span class="input-group-text fs-4"><i class="bi bi-coin"></i></span>
                    <input placeholder="Deposit Amount" class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-secondary mt-4 mx-auto d-block" style="width: min-content;">deposit</button>
            </form>
        </div>
    </div>
</div>