<div class="transactions-container container-sm">
    <div class="row">
        <div class="transaction-list col-12 col-md-6">
            <table class="table mx-auto">
                <thead>
                  <tr>
                    <th scope="col">title</th>
                    <th scope="col">price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="new-transaction col-12 col-md-6">
            <div class="d-flex align-items-center" style="height: 100%;">
                <div class="form-container mx-auto h-auto px-5">
                    <h1 class="col-auto mx-auto">New Transaction</h1>
                    <form class="transactions-form mx-auto">
                        <div class="input-group mb-5">
                            <span class="input-group-text fs-4"><i class="bi bi-basket2"></i></span>
                            <input placeholder="Item" class="form-control" type="text">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text fs-4"><i class="bi bi-coin"></i></span>
                            <input placeholder="Price" class="form-control" type="password">
                        </div>
                        <button type="submit" class="btn btn-secondary mt-4 mx-auto d-block" style="width: min-content;">transactions</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>